@font-face {
    font-family: 'CrimsonText';
    src:
        url('../fonts/CrimsonText-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'CrimsonText';
    src:
        url('../fonts/CrimsonText-BoldItalic.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'CrimsonText';
    src:
        url('../fonts/CrimsonText-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'CrimsonText';
    src:
        url('../fonts/CrimsonText-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  font-family: 'DancingScript';
  src:
  url('..fonts/DancingScript-Regular.ttf') format('opentype');
  font-weight:normal;
  font-style: normal;
}
@font-face{
  font-family: 'DancingScript';
  src:
  url('..fonts/DancingScript-Bold.ttf') format('opentype');
  font-weight:bold;
  font-style: normal;
}
