@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
  header {
      background-color:#a4a4a4 ;
      padding: 75px;
  }

  .content {
      display: flex;
      flex-direction: row;
      width: 100%;
  }

  main {
    font-famil:'CrimsonText';
    font-style: normal;
    color:#5e5959;
      background-color: #cdcdcd;
      flex: 1 3 auto;
      padding: 200px;
  }

  aside {
      background-color: #e0e0e0;
      flex: 1 1 auto;
      padding: 10px;
  }

  footer {
    font-family:'CrimsonText';
    Font-style: italic;
    font-size: 100%;
      background-color:#707070 ;
      padding: 75px;
      color:#6f5a6d;
  }

header {
  font-family:'Crimson Text';
  Font-style: normal;
  font-size: 300%;
  font-variant: small-caps;
  line-height: 2em;
  letter-spacing: .9em;
  color:#948893;
  margin: .25%
  padding: 1%;
  text-decoration: none;
  font-weight: 100;
}
title a:hover {
  color:#275cb5;
  font-style: italic;
}
  h2 {
    font-family:'Crimson Text';
    Font-style: normal;
    font-size: 200%;
      padding: 10px;
      color:#948893;
  }
  h4 {
    font-family:'Crimson Text';
    Font-style: normal;
    font-size: 100%;
      padding: 10px;
      color:#4b414a;
  }
