htlm{
  background-color:#lightgrey;
}
.title a{
  font-family:'Crimson Text';
  Font-style: normal;
  font-size: 400%;
  font-variant: small-caps;
  line-height: .8em;
  letter-spacing: .5em;
  color:#28292B;
  margin: .25%
  padding: 1%;
  text-decoration: none;
  font-weight: 100;
}
.title a:hover {
  color:#275cb5;
  font-style: italic;
}
